# Ignore core and contrib files that are installed via drush or manually.
sites/all/libraries/
sites/all/themes/
sites/all/themes/*/css/
sites/all/themes/*/js/
sites/all/themes/*/sass/
sites/all/themes/*/less/

# Ignore config files that might contain sensitive information.
sites/*/settings.php
sites/*/settings.local.php


